<div class="container">
    <mat-toolbar>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example home icon">
                person_add
            </mat-icon>
            Create User
        </span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
    <form [formGroup]="form" (ngSubmit)="addUser()">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="field-width">
                    <mat-label>User</mat-label>
                    <input matInput autocomplete="off" formControlName="usuario">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="5">
                <img src="./assets/img/user.png" alt="user profile photo" width="250" height="250">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="field-width">
                    <mat-label>Name</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="field-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput autocomplete="off" formControlName="apellido">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill" class="field-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="sexo">
                      <mat-option *ngFor="let item of sexo" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-button color="primary" style="margin-right: 5px;">Return</button>
                <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Accept</button>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <br>
    </form>
    </mat-card>
</div>
